@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.home-title{
    color:black;
    font-family:'DM Serif Display','Open Sans',sans-serif;
    font-size: 2em;
    margin-top: 10px;
}



#content{
    max-width: 1600px;
    margin: 0 auto;
}
#hero-img{
    width:100%;
}

nav a{
    text-align: center;
    color:black;
    text-decoration:none ;
    padding:35px;
}
#hero-msg {
    text-align: center;
}
.botton-box{
    text-align: center;
}
main section{
    text-align: center;
}
main section img{
    box-sizing: border-box;
}
#bacground{
    height: 725px;
}

body{
    font-family: 'DM Serif Display', 'Open Serif',sans-serif;
    font-size: 22px;
    background-color: blanchedalmond;
    margin:0;
    padding:0;
}

h2{
    margin:0;
}
header {
    background-color:aliceblue;
}
nav a:hover{
    color:cadetblue;
    background-color:#ffebcd; 
   
}
.book, .join{
    font-family: 'DM San Serif','Open Sans',sans-serif;
    font-size: 18px;
    color:darkgreen;
    background-color:cadetblue;
    text-decoration: none;
    padding:15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover{
    color:darkslategray;
    background-color:cornsilk
}
#background{
    height:725px;
    background-color:burlywood;
}
.msg{
    background-color: rgb(198, 106, 53);
    line-height: 1.5em;
    padding: 35px;
}
footer{
    color:bisque;
    background-color:rgb(255, 156, 98);
    padding: 25px 50px;
    margin-top: 200px;
}


h4 {
    color:black
}

.msg h2{
    color:bisque
}
.msg p{
    font-family: 'DM San Serif','Open Serif',sans-serif;
    font-size: .8em; 
    padding-bottom:15px;
    color:bisque
}
footer a {
    text-decoration: none;
}
footer a:hover{
    color:darkslategray
}
footer p{
    font-size: 1.2em;
}
footer p a:hover{
    text-decoration: underline;
}
footer .social img{
    padding-top: 15px;
}

.rivers-card,.camping-card,.rapids-card{
    margin: 200px 0;
}


#logo_link{
    padding-top: 5px;
}
.icon{
    width: 80px;
    padding-top: 10px;
}
.logo{
    width:80px;
}
.card-img{
    border: 10px solid burlywood;
}
.mountains{
    margin-top: 100px;
    margin-bottom: 200px;
}
